# reによる正規表現

In [1]:
import re

## 練習問題1

'Young Frankenstein'の中から、kで始まりsで終わる部分をmatch()関数を使って探し出してみよう。

In [5]:
source = 'Young Frankenstein'
m = re.match('.*k.*s', source)

if m:
    print(m.group())

Young Frankens

## 練習問題2

以下のテキストpoemに対し、一行ごとに文章を分割してみよう。

poem = '''There was a young lady named Bright,
whose speed was far faster than light;
She started one day,
In a relative way,
And returned on the previous night.'''

In [10]:
poem = '''There was a young lady named Bright,
whose speed was far faster than light;
She started one day,
In a relative way,
And returned on the previous night.'''

m = re.split('\n', poem)
m

['There was a young lady named Bright,',
 'whose speed was far faster than light;',
 'She started one day,',
 'In a relative way,',
 'And returned on the previous night.']

## 練習問題3

ファイルパスの中からディレクトリパスを正規表現を用いて取り出せ。 例えば、ファイルパス

C:/program/python/hello.py
のディレクトリパスは

C:/program/python/
である。

In [13]:
path = 'C:/program/python/hello.py'

m = re.match('.*/', path)

if m:
    print(m.group())

C:/program/python/

## 練習問題4

ファイルパスの中からファイル名だけを正規表現を用いて取り出せ。 C:/program/python/hello.pyの場合、hello.pyになる。

In [19]:
m = re.search('[^/]+$', path)

if m:
    print(m.group())

hello.py

## 練習問題5

練習問題2のpoemにおいて、行頭の単語をすべてXXXXに置き換えてみよう。

In [21]:
pattern = r'^\w+|(?<=\n)\w+'
regex = re.compile(pattern)
regex.findall(poem)
print(regex.sub('XXXX', poem))

XXXX was a young lady named Bright,
XXXX speed was far faster than light;
XXXX started one day,
XXXX a relative way,
XXXX returned on the previous night.

## 練習問題6

日付の文字列情報

string1 = "July 29, 2021"
から、正規表現を用いて月、日、年をそれぞれmonth, day, yearというグループ名にマッチさせ、以下のような辞書として出力せよ。

{'Month': 'July', 'Day': '29', 'Year': '2021'}
他の日付でもうまくいくか試してみよ。例えば

string2 = "September 1, 2001"

In [27]:
string1 = 'July 29, 2021'

regex = r'(?P<month>\w+)\s(?P<day>\d+)\,?\s(?P<year>\d+)'
matches = re.search(regex, string1)

d = {'Month': matches.group('month'), 'Day': matches.group('day'), 'Year': matches.group('year')}
d

{'Month': 'July', 'Day': '29', 'Year': '2021'}

## 練習問題7

text = """log_example
log_example2
log_test20210729"""
に対し、_のアルファベット部分の前後を入れ替えた

example_log
example_log2
test_log20210729
のような文字列を正規表現を用いて出力せよ。

In [31]:
text = """log_example
log_example2
log_test20210729"""

pattern = r'([A-Z]+)_([A-Z]+)([0-9]*)'
regex = re.compile(pattern, flags=re.IGNORECASE)

print(regex.sub(r'\2_\1\3', text))

example_log
example_log2
test_log20210729

## 練習問題8

uriage.csvファイルをデータフレームとして読み込み、person列が小文字または大文字のo（オー）で始まるか終わる人のデータ行だけを抽出せよ。

In [32]:
import pandas as pd
import numpy as np

In [33]:
data = pd.read_csv('./examples/uriage.csv')
data

         date       goods   price  quantity  amount  person
0   2020/10/2     Printer   30000         5  150000  Yamada
1   2020/10/2     DigiCam   25000         8  200000  Suzuki
2   2020/10/2     Scanner   20000         3   60000  Suzuki
3   2020/10/2          PC  110000         6  660000    Kato
4   2020/10/2  USB memory    4000         9   36000    Kato
5   2020/10/2  USB memory    4000         5   20000   Ogawa
6   2020/10/3     Printer   30000         3   90000  Yamada
7   2020/10/3     Scanner   20000         4   80000  Yamada
8   2020/10/3          PC  110000         3  330000  Yamada
9   2020/10/3  USB memory    4000         2    8000  Suzuki
10  2020/10/3     Scanner   20000         7  140000  Suzuki
11  2020/10/3     Printer   30000         5  150000    Kato
12  2020/10/3     DigiCam   25000         3   75000    Kato
13  2020/10/3     DigiCam   25000         4  100000   Ogawa
14  2020/10/3     Scanner   20000         6  120000   Ogawa
15  2020/10/4     DigiCam   25000         7  175000  Yamada
16  2020/10/4     Scanner   20000         3   60000    Kato
17  2020/10/4          PC  110000         5  550000   Ogawa
18  2020/10/4     Scanner   20000         2   40000   Ogawa

In [36]:
pattern = r'^o|o$'
data[data['person'].str.contains(pattern, flags=re.IGNORECASE)]

         date       goods   price  quantity  amount person
3   2020/10/2          PC  110000         6  660000   Kato
4   2020/10/2  USB memory    4000         9   36000   Kato
5   2020/10/2  USB memory    4000         5   20000  Ogawa
11  2020/10/3     Printer   30000         5  150000   Kato
12  2020/10/3     DigiCam   25000         3   75000   Kato
13  2020/10/3     DigiCam   25000         4  100000  Ogawa
14  2020/10/3     Scanner   20000         6  120000  Ogawa
16  2020/10/4     Scanner   20000         3   60000   Kato
17  2020/10/4          PC  110000         5  550000  Ogawa
18  2020/10/4     Scanner   20000         2   40000  Ogawa